<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MSSQL" connectionString="Server=localhost\sqlexpress;User ID=sa;password=admin@123;Initial Catalog=Amazon;Connect Timeout=10000;" />
    <add name="MYSQL" connectionString="Server=127.0.0.1; Port=3306;Database=testconn;UID=root;password=binh@123;" />
  </connectionStrings>
  <appSettings>
    <add key="AmazonAccessKey" value="AKIAJ3IKSQVJ4IZW5IWQ"/>
    <add key="AmazonSecretKey" value="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"/>
    <add key="AmazonAppName" value="TGG Seller Fulfillment"/>
    <add key="AmazonAppVersion" value="1.0"/>
    <add key="AmazonServiceURL" value="https://mws.amazonservices.com"/>
    
    <add key="AmazonSellerId" value="AQASJ9CKUP57G"/>
    <add key="AmazonMWSAuthToken" value="replaceWithMWSAuthToken"/>
  </appSettings>
</configuration>